.titulo {
    color: #3D3D3D;
    background-color:#E1EDF2;
    padding: 10px; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin-left:auto;
    margin-right: auto;
}

h1, .fontes {
    font-style: italic;
}

h2 {
    border-bottom-style: solid;
}

p{
    text-align: justify;        
}

figure {
    background-color: whitesmoke;
    padding: 15px;
    margin: 30px;
    color: lightgrey;
}
figcaption {
        margin-top: 5px;
}

.fig1{
    width: 550px;
    
}

.fig2{
    width: 275px;
        
}
.figure1 {
    text-align: center;
}

.figure2{
    text-align: right;
}

    